@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* Primary colors */
    --almost-white : hsl(0, 0%, 98%);
    --medium-grey : hsl(0, 0%, 41%);
    --almost-black : hsl(0, 0%, 8%);

    /* font-styles */
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;

}

*{
    margin: 0;
    padding: 0;
    border: 0%;
}

p {
    color: var(--medium-grey);
    font-size: 18px;
}

body {
    border: 1pt solid pink;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--almost-white);
    /* -webkit-margin-start: 0px ; */
    /* -webkit-margin-collapse: collapse; */
}

header {
    display: flex;
    margin: 10px 0px;
    /* border: 2px solid red; */
    padding: 12px;
    justify-content: space-between;
}

.logo img {
    /* padding: 5px; */
    /* margin: auto 0px; */
    display: flex;
    justify-content: flex-start;
    /* font-weight: 700; */
    /* font-size: x-large; */
}

.menu {
    padding-bottom: 4px;
}

#jumbotron {
    width: 100%;
    margin: 12px auto;
}

nav {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    padding: 20px 0px;
    text-align: center;
    font-size: large;
}

.main div {
    margin: 4px auto;
}

.main p {
    font-size: medium;
    line-height: 150%;
    width: 90%;
    margin: 0px auto;
}

#more-info {
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 12px 2px;
    width: 30%;
    font-size: small;
    border-radius: 12px;
}

.sponsored {
    display: flex;
    border: 2pt solid red;
    /* justify-content: space-around; */
}

.sponsored div {
    
    display: flex;
    margin: auto;
    border: 4pt dotted goldenrod;
}

.login {
    display : flex;
}
.attribution { 
    font-size: 11px; text-align: center; 
}


.attribution a {
    color: hsl(228, 45%, 44%); 
}