@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
    /* Primary colors */
    --almost-white : hsl(0, 0%, 98%);
    --medium-grey : hsl(0, 0%, 41%);
    --almost-black : hsl(0, 0%, 8%);

    /* font-styles */
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;

}

*{
    margin: 0;
    padding: 0;
    border: 0%;
}

p {
    color: var(--medium-grey);
    font-size: 18px;
}

body {
    height: 100vh;
    /* width: auto; */
    background-color: var(--almost-white);
    /* -webkit-margin-start: 0px ; */
    /* -webkit-margin-collapse: collapse; */
}

/* ------------header------------------ */
header {
    display: flex;
    justify-content: space-between;
    /* margin: 8px 0px; */
    /* border: 2px solid red; */
    padding: 15px 10px 10px;
}

.logo {
    display: inline-block;
    width: fit-content;
}

.logo img {
    padding: 5px;
}

.menu-btn{
    width: fit-content;
    margin: auto 0;
}

/* -------------------------Modal-------------------------- */

.nav-background {
    /* display: none; undo this to make modal function!!!! */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.nav-modal {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--almost-white);
    float: right;
    height: 100%;
    width: 55%;
    border: 1px dotted orange;
}

.close-btn{
    display: flex;
    justify-content: end;
}

#close-btn {
    padding: 3px;
}
.menu-opts {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* height: 25%; */
    margin-top: 25px;
    max-height: fit-content;

}

.menu-opts div {
    padding: 5px 0;
    margin: 15px 0;
}

.menu-opts span {
    margin-left: 20px;
}

/* ----------------drop down menus ------------------------------------------------- */



/*--------------------------------- Javascript functionality---------------------------------- */

.show {
    display: flex;
    flex-direction: column;
}

.collapse {
    display: none;
}

/* -------------------------------------------------------------------------------------------- */

.dropdown {
    display: inline-block;
    /* width: 100% */
    margin: 0 0;
    /* padding: 5px; */
    
}

.menu-item {
    padding: 5px;
}

/* -------------------------------------------Interactivity------------------------------------- */
.menu-item:hover, .registry div:hover {
    cursor: pointer;
    background-color: deepskyblue;
    transition: ease-in-out;
    transition-duration: 200ms;

}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: ease-in-out;
    transition-duration: 200ms;
}

.btn:active, #more-info:active, .registry div:active {
    background-color: var(--medium-grey);
    transition: ease-in-out;
    transition-duration: 200ms;
}

/* ---------------------------------------------------------------------------------------------- */


.feature-icon {
    
}

#features-list, #company-list {
       /* display: flex; */
       /* display: none; */
       /* flex-direction: column; */
}

#features-list a {
    /* display: block; */
    /* display: none; */
    /* width: 100%; */
    padding: 10px;
}

#company-list a {
    padding: 12px;
}

#features-list img, #company-list img {
    padding: 2px;
    margin-right: 10px;
}

#company-list {
    
}

.registry {
    margin: 18px 0;
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.registry div {
    text-align: center;
    padding: 4px 0;
    margin: 0 8px;
}


#register-btn {
    border: 2px solid var(--almost-black);
    border-radius: 16px;
    padding: 14px;
    margin: 0 0;
}

/*  -----------------------jumbotron----------------------- */

#jumbotron {
    display: flex;
    height: 50%;
    flex-shrink: 1;
    max-height: 350px;
    background-image: url('../images/image-hero-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


#jumbotron-2 {
    display: none;
}


.desktop {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: space-between;
    margin: 0 auto;
    height: 30%;
    max-width: 375px;
    padding: 20px 0px;
    text-align: center;
    font-size: large;
}

.main div {
    margin: 4px auto;
}

.main p {
    font-size: medium;
    line-height: 150%;
    width: 90%;
    margin: 0px auto;
}

#more-info {
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 12px 2px;
    width: 30%;
    font-size: small;
    border-radius: 12px;
}


.sponsored {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    
}

.sponsored img {
    width: 15%;
    height: fit-content;
    margin: auto;
}

.sponsored div {
    display: flex;
    
    margin: auto;
    /* border: 4pt dotted goldenrod; */
}



/* --------------- footer ----------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2 rem;
}

.attribution {
    font-size: 11px; text-align: center; 
    padding: 4px 0;
}


.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* media query sizes */
@media screen and (min-width: 640px) {

    #open-menu, .nav-background, #jumbotron, .main, .sponsored {
        display: none;
    }
    

    /* headerand && nav bar stylings */
    header {
        border: 1px red solid;
    }

    .menu-opts {
        
    }

    /* div side 1 with headings and caption and footer */
    .desktop {
        display: flex;
        border: 2px solid green;
        width: 100%;
        height: 80%;
    }

    .desktop-content {
        display: block;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid purple;
        width: 40%;
        height: 100%;
    }

    .main-desktop {

    }

    #more-info {

    }

    .sponsored-desktop {

    }

    
    /* div side 2 with jumbotron */

    #jumbotron-2 {
        display: block;
        border: 1px solid red;
        width: 50%;
        height: auto;
        background-image: url('../images/image-hero-desktop.png');
        background-position: cover;
    }

    
}